/* MAIN */
.mainContainer{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.mainContent{
    font-size: 1.5rem;
    font-family:"Roboto";
    margin-top: -100px;
    width: auto;
    text-align: center;
}

.mainContent .text_leftSide{
    margin-left: -105px;
}

.mainContent .my_name{
    font-size: 9rem;
    font-weight: 700;
}

.mainContent .text_rightSide{
    margin-left: 120px;
}