<div class="nav">
    <div class="items">
        <a href="/" class="logo">
            <h3>FARIS</h3>
            <!-- <img src="../static/img/logo.png" alt=""> -->
        </a>
        <div class="menu right-align">
            <ul>
                <li>
                    <a href="{{ url_for('routes.projects') }}">PROJECTS</a>
                </li>
                <li>
                    <a href="{{ url_for('routes.contact') }}">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</div>